.pagination {
  display: inline !important;

  a.previous_page {
    float: left;
  }

  a.next_page {
    float: right;
  }
}

.alert {
  z-index:9999;
}

form {
  margin-bottom: 10px;
}

.alert:not(#error_explanation){
  position: fixed;
  width: 20%;
  right: 15px;
  bottom: 15px;

  @media only screen and (max-width: 767px) {
    width: 90%;
  }
}

.comment-actions {
  float: right;
}