<%= render 'layouts/shared/main_header' %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2>Edit Post</h2>
      <%= render 'form', post: @post %>
    </div>
  </div>
  <%= link_to 'Back', posts_path %>
</div>
